<div class = "d-flex justify-content-between">
  <div>
    <h1>
      List of Books
    </h1>
  </div>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Book
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="new_book">Add New Book</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/book_search" class="d-flex" role="search" method ="get">
              <input class="form-control me-2" type="search" placeholder="Search by Title" aria-label="Search" id="title_box" name="query_title">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div class = "row justify-content-center table-responsive">
    <table class = "table align-middle table-hover table-striped" border="1">
      <thead class = "table-dark text-center">
        <th>Image</th>
        <th>Title</th>
        <th>Author</th>
        <th>Published Year</th>
        <th>Page Count</th>
        <th>Reviews</th>
        <th>Average Rating</th>
        <th> </th>
      </thead>
      <tbody class="text-center">
        <% @list_of_books.each do |a_book| %>
        <tr>
          <td><img src="<%= a_book.image_url %>" alt="Thumbnail" width="36" height="30"/></td>
          <td><%= a_book.title %></td>
          <td><%= Author.where({ :id => a_book.author_id}).at(0).name %></td>
          <td><%= a_book.published_date %></td>
          <td><%= a_book.page_count %></td>
          <td><%= a_book.reviews_count %></td>
          <td><%= a_book.avg_rating %></td>
          <td>
            <a href="/books/<%= a_book.id %>">Show details</a>
          </td>
        </tr>
        <% end %>
      <tbody >
    </table>
  </div>
</div>

<%= paginate @list_of_books%>
