
<div>
  <div>
    <h1>
      <%= @the_book.title %>
    </h1>

    <div>
      <div>
        <a href="/books">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_book/<%= @the_book.id %>">
          Delete book
        </a>
      </div>
    </div>




<div>
  <div class = "row justify-content-center table-responsive">
    <table class = "table align-middle table-hover" border="1">
            <dt>
        Description
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Published date
      </dt>
      <dd>
        <%= @the_book.published_date %>
      </dd>

      <dt>
        Isbn13
      </dt>
      <dd>
        <%= @the_book.isbn13 %>
      </dd>

      <dt>
        Page count
      </dt>
      <dd>
        <%= @the_book.page_count %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @the_book.image_url %>
      </dd>

      <dt>
        Publisher
      </dt>
      <dd>
        <%= @the_book.publisher %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= Author.where({ :id => @the_book.author_id}).at(0).name %>
      </dd>

      <dt>
        Reviews count
      </dt>
      <dd>
        <%= @the_book.reviews_count %>
      </dd>
    </table>
  </div>
</div>

<hr>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Review Book
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @the_book.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action ="/insert_review" method="post">
          <div class="col-3">
            <label for="query_rating_numeric" class="form-label">Rating</label>
            <input type="text" min="0" max="5" id="query_rating_numeric" name = "query_rating_numeric">
          </div>
          <div class="col-12">
            <div class="form-floating"> Review Description
              <textarea class="form-control" placeholder="Leave review here" id="query_review" name="query_review"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
          <div>
            <input type="hidden" id="query_book_id" name="query_book_id" value="<%= @the_book.id %>">
            <input type="hidden" id="query_reviewer_id" name="query_reviewer_id" value="<%= @user_id %>">          
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary">Add Review</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
