<div class = "d-flex justify-content-between">
  <div>
    <h1>
      List of Reviews
    </h1>
  </div>
</div>

<hr>

<div>
  <div class = "row justify-content-center table-responsive">
    <table class = "table align-middle table-hover table-striped" border="1">
      <thead class = "table-dark text-center">
        <th>Book Title</th>
        <th>Rating</th>
        <th>Review</th>
        <th> </th>
      </thead>
      <tbody class="text-center">
        <% @list_of_reviews.each do |a_review| %>
        <tr>
          <td><%= Book.where({ :id => a_review.id}).at(0).title %></td>
          <td><%= a_review.rating_numeric %></td>
          <td><%= a_review.review %></td>
          <td>
            <a href="/reviews/<%= a_review.id %>">Show details</a>
          </td>
        </tr>
        <% end %>
      <tbody >
    </table>
  </div>
</div>

<%= paginate @list_of_reviews%>
