<div class = "d-flex justify-content-between">
  <div>
    <h1>
      List of Reviews
    </h1>
  </div>
    <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Review
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="new_review">Add a Review</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/insert_review" class="d-flex" method ="post">
              <input class="form-control me-2" type="search" placeholder="temp" aria-label="Search" id="title_box" name="query_title">
            </form>





            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save Review</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div class = "row justify-content-center table-responsive">
    <table class = "table align-middle table-hover table-striped" border="1">
      <thead class = "table-dark text-center">
        <th>Book Title</th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Review</th>
        <th> </th>
      </thead>
      <tbody class="text-center">
        <% @list_of_reviews.each do |a_review| %>
        <tr>
          <td><%= Book.where({ :id => a_review.id}).at(0).title %></td>
          <td><%= User.where({ :id => a_review.id}).at(0).last_name + ", " + User.where({ :id => a_review.id}).at(0).first_name %></td>
          <td><%= a_review.rating_numeric %></td>
          <td><%= a_review.review %></td>
          <td>
            <a href="/reviews/<%= a_review.id %>">Show details</a>
          </td>
        </tr>
        <% end %>
      <tbody >
    </table>
  </div>
</div>

<%= paginate @list_of_reviews%>



</div>

<hr>

<hr>

<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>
        <label for="reviewer_id_box">
          Reviewer
        </label>

        <input type="text" id="reviewer_id_box" name="query_reviewer_id">
      </div>

      <div>
        <label for="rating_numeric_box">
          Rating numeric
        </label>

        <input type="text" id="rating_numeric_box" name="query_rating_numeric">
      </div>

      <div>
        <label for="review_box">
          Review
        </label>

        <textarea id="review_box" name="query_review" rows="3"></textarea>
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>
